@font-face {
  font-family: Lato;
  src: url('./assets/Lato-Regular.ttf') format('truetype');
}
.App {
  text-align: left;
  width: 50%;
  margin: 0 auto;
  white-space: pre-wrap;
  height: 75%;
  font-family: Lato;
  font-size: large;
}

.header {
  padding: 30px;
  text-align: center;
}

.submit-button{
text-align: center;
  padding: 10px;
}